<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.heythere.heythere">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Detailed"
            android:label="@string/title_activity_detailed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Eventslist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".PullData"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
            android:name=".providers.EventDataProvider"
            android:authorities="in.heythere.heythere.providers"
            android:exported="false" />

        <activity
            android:name=".LoginInfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:label="Sign up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Settings" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".EventsMap"
            android:label="All around you"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchEvent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Filters"></activity>
    </application>

</manifest>